/* HHSOJ CSS file */
/* by Zzzyt */
body {
	background: #e8e8e8;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 100px;
	min-width: 800px;
}

body span, pre, code {
	font-family: "Courier New", "Consolas";
}

td *{
	/* Gonna explode..*/
	font-family: "Courier New", "Consolas";
}

tr *{
	/* Gonna explode..*/
	font-family: "Courier New", "Consolas";
}

body h1, h2, h3, h4, h5, h6 {
	font-family: serif;
}

body hr {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

body p,span,a{
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-family: "Courier New", "Consolas";
}

#title {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 40px;
	width: 800px;
	float: left;
	height: 40px;
	font-family: Georgia, serif;
}

#subtitle {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	width: 800px;
	float: left;
	clear: both;
	margin-bottom: 10px;
	font-family: Georgia, serif;
}

#nav {
	clear: both;
}

.nav-link-left {
	font-weight:bold;
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
	font: 20px;
	color: #000000;
	text-decoration: none;
	float: left;
	display: block;
	text-decoration: none;
}

.nav-link-right {
	font-weight:bold;
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
	font: 20px;
	color: #000000;
	float: right;
	text-decoration: none;
	display: block;
}

.selected {
	border-bottom: 3px solid #66ccff;
}

.blogup {
	color: #00ff00;
	font-weight: bold;
}

.blogdown {
	color: #787878;
	font-weight: bold;
}

#filter-top{
	border-collapse: collapse;
	width: 80%;
	align-self: center;
	margin: 0px auto;
	min-width: 500px;
	border:1px solid #cccccc;
	background:#f0f0f0;
	padding:10px;
}

#seperator {
	height: 50px;
}

#marquee {
	margin-top: 30px;
	margin-bottom: 30px;
}

#verdict {
	margin-top: 30px;
}

#back {
	display: block;
}

/* Now this is by XGN :P */
/* No ugly fonts!!!Me again!!!--Zzzyt */
.userUnrated{
	text-decoration:none;
	color:black;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.userNewbie{
	text-decoration:none;
	color:grey;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}

.userPupil{
	text-decoration:none;
	color:green;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}

.userSpecialist{
	text-decoration:none;
	color:cyan;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}

.userExpert{
	text-decoration:none;
	color:blue;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}

.userCandidateMaster{
	text-decoration:none;
	color:purple;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}

.userMaster{
	text-decoration:none;
	color:yellow;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}

.userInternationalMaster{
	text-decoration:none;
	color:yellow;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}

.userGrandmaster{
	text-decoration:none;
	color:red;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}

.userInternationalGrandmaster{
	text-decoration:none;
	color:red;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}

.userLegendaryGrandmaster{
	text-decoration:none;
	color:black;
/* 	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-weight:bold;
}