/* HHSOJ CSS file */
/* by Zzzyt */
body {
	background: #f0f0f8;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 100px;
	min-width: 800px;
	max-width: 1100px;
}

body span, pre, code {
	font-family: "Courier New", "Consolas";
}

body h1, h2, h3, h4, h5, h6 {
	font-family: serif;
}

body hr {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

#title {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 40px;
	width: 800px;
	float: left;
	height: 40px;
	font-family: serif;
}

#subtitle {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	width: 800px;
	float: left;
	clear: both;
	margin-bottom: 10px;
	font-family: serif;
}

#nav {
	clear: both;
}

.nav-link-left {
	margin-left: 20px;
	margin-right: 20px;
	font: 20px;
	color: #000000;
	text-decoration: none;
	float: left;
	display: block;
	text-decoration: none;
}

.nav-link-right {
	margin-left: 20px;
	margin-right: 20px;
	font: 20px;
	color: #000000;
	float: right;
	text-decoration: none;
	display: block;
}

.selected {
	border-bottom: 3px solid #66ccff;
}

#problem-table {
	border-collapse: collapse;
	width: 80%;
	align-self: center;
	margin: 0px auto;
	min-width: 500px;
}

#problem-table th, td {
	padding: 3px;
	border: 1px solid #000000;
}

#seperator {
	height: 50px;
}

#marquee {
	margin-top: 100px;
}

#verdict {
	margin-top: 30px;
}

#back {
	display: block;
}